 <tr #if ($velocityCount % 2 != 0) class="rowNormal" #else class="rowAlternate" #end >
<td width=1%>
    #displayType($issue)
</td>

<td width=1%><a href="$baseurl/browse/$issue.key">$issue.key</a></td>

<td width=100%>
	#if ($issue.isSubTask())
		<span class="smallgrey"><a href="$baseurl/browse/$issue.getParent().getString('key')" title="$issue.getParent().getString('summary')">$issue.getParent().getString('key')</a></span><br>
        <img src="$baseurl/images/icons/link_out_bot.gif" width=16 height=16 border=0 align=absmiddle>
	#end
	<a href="$baseurl/browse/$issue.getKey()">$textutils.plainTextToHtml($issue.getSummary())</a>
</td>

<td width="1%">
    #if ($fieldVisibility.isFieldHidden($issue.getProject().getLong("id"), "priority", $issue.getIssueType().getString("name")) == false)
    #displayPriorityNoLink($issue)
    #else
      &nbsp;
    #end
</td>
#set ($outerIndex = $velocityCount)
#set ($totalWorked = 0)
#foreach ($user in $workedUsers.keySet())
    #if ($issueWorkLog.get($user))
	    #set ($worked = $issueWorkLog.get($user).intValue())
    #else 
    	#set ($worked = 0)
    #end
    #if ($pbsUsers.get($issue) && $pbsUsers.get($issue).get($user))
        #set ($pbs = $textUtil.getPrettyPbs($pbsUsers.get($issue).get($user).floatValue()))
    #else 
        #set ($pbs = 0)
    #end
    <td align="center" width=1%>$textUtil.getPrettyHours($worked)<br/>$pbs</td>
    #set ($totalWorked = $totalWorked + $worked)
#end
#set ($velocityCount = $outerIndex)
<td align="center" width=1%>$textUtil.getPrettyHours($totalWorked)</td>
